In [ ]:
## soal nomor 1
buah = ["apel", "mangga", "jeruk", "anggur", "pisang"]
print(buah)

# tambahkan semangka pada list akhir
buah.append("semangka")
print(f"data sebelum ditambah : {buah}\n")

# sisipkan durian di antara jeruk dan anggur
buah.insert(3, "durian")
print(f"data setelah ditambah : {buah}\n")

# hapus mangga dari list
buah.remove("mangga")
print(f"data setelah dihapus : {buah}\n")

# ubah pisang menjadi nanas
buah[4] = "nanas"
print(f"setelah diubah : {buah}\n")

# tampilkan tiga buah pertama
print(buah[:3])

['apel', 'mangga', 'jeruk', 'anggur', 'pisang']
data sebelum ditambah : ['apel', 'mangga', 'jeruk', 'anggur', 'pisang', 'semangka']

data setelah ditambah : ['apel', 'mangga', 'jeruk', 'durian', 'anggur', 'pisang', 'semangka']

data setelah dihapus : ['apel', 'jeruk', 'durian', 'anggur', 'pisang', 'semangka']

setelah diubah : ['apel', 'jeruk', 'durian', 'anggur', 'nanas', 'semangka']

['apel', 'jeruk', 'durian']

In [ ]:
## soal nomor 2
angka = [45, 12, 78, 23, 56, 89, 34]

# urutkan data secara ascending
angka.sort()
print(f"setelah diurutkan : {angka}\n")

# urutkan secara descending
angka.reverse()
print(f"setelah urutan dibalik : {angka}")

setelah diurutkan : [12, 23, 34, 45, 56, 78, 89]

setelah urutan dibalik : [89, 78, 56, 45, 34, 23, 12]